* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.slider-one,
.slider-two,
.slider-three,
.slider-four {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: slider-one 12s linear infinite;

    .slider-one-image,
    .slider-two-image,
    .slider-three-image,
    .slider-four-image {
        width: 110%;
        height: 100%;
        background-image: url('https://images.pexels.com/photos/1413412/pexels-photo-1413412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: zoom-out 3s linear infinite;

        .slider-text {
            position: absolute;
            top: 40%;
            left: 5%;
            color: #ffffff;
            width: 600px;
            text-transform: capitalize;
            animation: text-up 12s linear infinite;
            transform: translateY(100px);
            animation-delay: 0s;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 28px;

            }

        }
    }
}

.slider-two {
    animation: slider-two 12s linear infinite;

    .slider-two-image {
        background-image: url('https://images.pexels.com/photos/1516202/pexels-photo-1516202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

        .slider-text {
            animation-delay: 3s;
        }
    }
}

.slider-three {
    animation: slider-three 12s linear infinite;

    .slider-three-image {
        background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1447&q=80');

        .slider-text {
            animation-delay: 6s;
        }
    }
}

.slider-four {
    animation: slider-four 12s linear infinite;

    .slider-four-image {
        background-image: url('https://images.pexels.com/photos/212410/pexels-photo-212410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');


        .slider-text {
            animation-delay: 9s;
        }
    }
}

@keyframes text-up {
    10% {

        transform: translateY(0px);
    }

    100% {

        transform: translateY(0px);
    }
}


@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

@keyframes slider-one {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slider-two {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slider-three {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slider-four {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}