@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Sass variables
$main_background: #181818;
$button_color: #957C09;
$box_shadow_one: 0px 8px 18px rgba(0, 0, 0, 0.856);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: url('../images/one.jpg') no-repeat center center / cover;
    display: grid;
    place-items: center;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000057;
        z-index: -1;
    }

    .wrapper {
        background-color: $main_background;
        color: #ffffff;
        box-shadow: $box_shadow_one;

        .logo {
            img {
                width: 18%;
                height: 18%;
            }
        }

        .wrapper_inside {
            text-align: center;
            padding: 0 7rem 2rem 7rem;

            h1 {
                font-weight: 700;
                font-size: 5rem;
            }

            h2 {
                font-weight: 700;
                font-size: 2.7rem;
                background-color: #ffffff;
                color: $main_background;
            }

            p {
                color: #ffffffb7;
                margin: 20px 0;
            }

            a {
                text-decoration: none;
                display: inline-block;
                border: 1px solid $button_color;
                color: $button_color;
                padding: 0.5rem 2.5rem;
                margin: 20px 0;

                &:hover {
                    background-color: #ffffff;
                }
            }
        }
    }
}