* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    .password-field {
        position: relative;

        input {
            width: 30rem;
            height: 4em;
            padding: 1em;
            border: 0;
            border-radius: 10px;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
            font-size: 1rem;
            letter-spacing: 1px;

            &::placeholder {
                color: #000000;
                font-weight: bold;
            }
        }

        #toggler {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

    }
}
